<!DOCTYPE html>
<html>
  <head>
    <title>Album Data: <%=item.title%></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
<h1>Album Data</h1>
    <dl itemscope itemtype="http://schema.org/MusicAlbum" class="album">
      <dt>Title</dt>
      <dd itemprop="name" class="album"><%=item.title%></dd>
      <dt>Band</dt>
      <dd itemprop="MusicGroup" class="artist"><href="/list-albums/<%=item._id%>"><%=item.band%></dd>
    <dt>Year Recorded</dt>
<dd itemprop="dateCreated" class="date"><%=item.year%></dd>
    </dl>

  <div class="control">
      <h2>Update album</h2>
      <form method="post" action="/list-albums/<%=item._id%>">
        <input type="hidden" name="_method" value="put">
        <!-- The line above tells the server to treat this as a PUT request. -->
        <label>Band: 
          <input name="item[band]" value="<%=item.band%>" type="text" required>
        </label>
<label>Year: 
          <input name="item[year]" value="<%=item.year%>" type="text" required>
        </label>
        <label>Title: 
          <select name="item[title]" required>
            <% related_items.forEach(function(related_item) { %>
            <option value="<%=related_item.title%>"
              <% if (related_item._id === item.title) { %>selected<% } %>>
              <%=related_item.title%>
            </option>
            <% }); %>
          </select>
        </label>
        <label>Image URL:
          <input name="item[image]" value="" type="url" size="80"> 
        </label>
        <button>Update</button>
      </form>
    </div>
  </body>
</html>
