<!DOCTYPE html>
<html>
  <head>
    <title>Band Data: <%=item.name%></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Band Data</h1>
    <dl itemscope itemtype="http://schema.org/MusicGroup" class="artist">
      <dt>Band name</dt>
      <dd itemprop="name" class="artist"><%=item.name%></dd>
      <dt>Date formed</dt>
<dd itemprop="foundingDate" class="date"><%=item.dateformed%></dd>
      <dt>Description</dt>
      <dd><%=item.description%></dd>
<dt>Genre</dt>
<dd><%=item.genre%></dd>
<dt>Releases</dt>
<ul>
 <% related_items.forEach(function(item) { %>
<li><a href="/one-album/<%=item._id%>" rel="album">
<dd itemprop="album" itemscope itemtype="http://schema.org/MusicGroup" class="album">
<span itemprop="title"> <%=item.title%></span></dd></a>
</li>
<% }); %>
</ul>

  </body>
</html>
